<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<a href="../src/View/login.html">Войти</a>
<br>
<a href="../src/View/register.html">Зарегистрироваться</a>
</body>
</html>