<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мессенджер</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>

<form action="../../logout.php">
    <label>Привет, {{ name }}</label>
    <br>
    <button type="submit">Выйти</button>
</form>

<form method="get">
    <div class="input-wrapper">
        <label>
            <input class="input-area" type="text" name="message" placeholder="Напишите сообщение..." id="message">
        </label>
        <button class="input-button">Отправить</button>
    </div>
</form>
</body>
</html>